body {
    font-family: 'Rajdhani', sans-serif;
}
.card {
    border: none;
    border-radius: 0;
}
.card h2 {
    font-size: 1.3rem;
    font-weight: bold;
}
.card-img, .card-img-top {
    border-radius: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bg-dark {
    background-color: #000000 !important;
}